<nav id="sidebar" class="">
    <div class="sidebar-header">
        <h3>#{data.user.fullName}</h3>
        <strong>#{data.user.fullName[0] + data.user.fullName[1]}</strong>
    </div>

    <ul class="list-unstyled components">
        <li>
            <a href="#" id="dashboard-btn">
                <i class="glyphicon glyphicon-duplicate"></i>
                | Dashboard
            </a>
        </li>       
        <li>
            <a href="#" id="projects-btn">
                <i class="glyphicon glyphicon-duplicate"></i>
                | Proyectos
            </a>      
        </li>        
    </ul>

    <ul class="list-unstyled CTAs">
        <li><a href="#" class="download" id="account-btn">Cuenta</a></li>
        <li><a href="#" id="logout-btn" class="article">Cerrar Sesión</a></li>
    </ul>
    <script src="/scripts/sidebarBehavior.js"></script>
</nav>