extend ../../layout

block content
    <nav class="navbar navbar-default navMain">
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li class=""><a href="#" id="product-backlog-btn">Product Backlog <span class="sr-only">(current)</span></a></li>
            <li class=""><a href="#">Release Backlog</a></li>
            <li class="dropdown">
            <a href="#" class="dropdown-toggle rightNav" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sprints<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="#">Sprint 1</a></li>
                <li><a href="#">Sprint 2</a></li>
                <li><a href="#">Sprint 3</a></li>
            </ul>
            </li>
        </ul>
        </div><!-- /.navbar-collapse -->
    </nav>

