doctype html
html
head
title= title
if links
    each link in links
        link(rel=link.rel, href=link.href)
if scripts   
    each script in scripts
        script(src=script.src)
body
block content
    <div class="container">
        <div class="col-sm-8 col-sm-offset-2 main">
            <div class="col-sm-6 left-side">
                <h1>Hello
                    <br>World.</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tristique justo eget nibh convallis pharetra.</p>
                <br>
                <p>Login with social media</p>
                <a class="fb" href="http://deepak646.blogspot.in/" target="_blank">Login With Facebook</a>
                <a class="tw" href="http://deepak646.blogspot.in/" target="_blank">Login With Twitter</a>
            </div>
            <!--col-sm-6-->

            <div class="col-sm-6 right-side">
                <h1>Login</h1>
                <p>Don't have an account? Create your account, it takes less than a minute</p>

                <!--Form with header-->
                <form id="login-form" class="form" >
                    <div class="form-group">
                        <label for="email">Correo</label>
                        <input type="text" id="email" name="email" class="form-control">
                    </div>

                    <div class="form-group">
                        <label for="password">Contraseña</label>
                        <input type="password" id="password" name="password" class="form-control">
                    </div>

                    <div class="text-xs-center">
                        <div id="info"></div>
                        <input value="Iniciar Sesión" type="submit" id="login-btn" name="login-btn" class="btn btn-deep-purple"/>
                    </div>
                </form>
                <!--/Form with header-->
            </div>
            <!--col-sm-6-->
        </div>
        <!--col-sm-8-->
    </div>
    <!--container-->


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->        
    <script src="scripts/loginForm.js"></script>    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>