.tag {
    border-radius: 10px;
    padding: 3px 7px;    
    font-weight: bold;    
    margin: 10px 10px;
    background-color: palegreen;
    box-shadow: grey 5px 5px 5px;
}
.master-tag {
    background-color: gold;
}
.senior-tag {
    background-color: orange;
}
.junior-tag {
    background-color: olivedrab;
}

.tag-remove-btn {
    
}

.tag-remove-btn:hover{
    cursor: pointer;    
}

.skills-container{
    border: solid  #9100ff 1px;
    border-radius: 10px;
    margin: 10px 50px;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.add-tag:hover{
    cursor: pointer;
}

#skill-form-container {    
   padding: 40px;
   display: none;
}

.skills-header {
    margin: 10px 50px;
    font-weight: 700;
    font-size: 14px;
    margin-top: 50px;
}