.white-background{
    background-color: #fff;
    width: 1200px;
    height: 900px;
}
.cardimage{
    background-size: contain;
    background-repeat: no-repeat;
    background: white;
    height: 210px;
    margin-bottom: 20px;
    margin-left: 50px;
    cursor: pointer;
}
.card-body{
}
.cardText{
    font-size: 20px;
}
b{
    font-size: 24px;
}
p{
    color: black
}
.titleProject{
    font-size: 20px;
    color: black;
}
.bodyProject{
    font-size: 14px;
    color: black;
}

#user-tag-form-container{
    display: none;
}

body
{
    background: #cfd8dc;
}

.card-containerBack
{
    font-family: 'Open Sans', sans serif;

    width: 400px;

    margin: 80px auto;

    border-radius: 10px;

    perspective: 1400px;
}

.cardBack
{
    position: relative;

    height: 100%;

    border-radius: 10px;

    width: 100%;
    transform-style: preserve-3d;
}

.front,
.back
{
    display: inline-block;
    padding:10px;
    width: 100%;
    height: 100%;

    border-radius: 10px;

    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
}

.front
{
    color: #fff !important;
    background: #2196f3;

}

.back
{
    position: absolute;
    top: 0;
    left: 0;

    transform: rotateY(180deg);

    color: #2196f3;
    background: #fff;
}
.productBackSpan{
    font-size: 16px !important;
    color: white;
}
.productBackB{
    font-size: 18px!important;
    margin-left: 150px!important;
    font-weight: bold!important;
}
.headerBack{
    display: initial;
}
.productBackTitle{
    font-size: 16px!important;
    font-weight: bold!important;
}
.productBackB2{
    font-size: 22px!important;
    margin-left: 85px!important;
    font-weight: bold!important;
}
.productBackSpan2{
    font-size: 18px !important;
    color: #2196f3;
}