extends ../../layout

block content
    <div class="container">
        <div class="col-sm-8 col-sm-offset-2 main">                        
            <div id="formregister" class="col-sm-12">
                <h1 id="titleregister">Nuevo Proyecto</h1>
                <p id="formtext">Por favor, ingrese los siguientes datos para crear su proyecto.</p>
                
                <form id="create-project-form"  class="form" >
                    <div class="form-group">
                        <label for="name">Nombre:</label>
                        <input type="text" id="name" name="name" class="form-control">
                    </div>

                    <div class="form-group">
                        <label for="description">Descripcion:</label>
                        <textarea cols="30" rows="5" type="text" id="description" name="description" class="form-control"></textarea>
                    </div>  
                    <div class="form-group">
                        <label for="description">Fecha de Arranque:</label>                        
                        <input type="date" name="startDate" step="1" min="1800-01-01" max="2058-12-31" value="<?php echo date("Y-m-d");">                                 
                    </div>  

                     <div class="form-group">
                        <label for="description">Fecha de Entrega:</label>                        
                        <input type="date" name="requestDate" step="1" min="1800-01-01" max="2058-12-31" value="<?php echo date("Y-m-d");">                                 
                    </div>  

                    <div class="text-xs-center">
                        <a type="button" id="login-btn" name="login-btn" value="Register" class="btn btn-deep-purple">Registrar<a/>
                    </div>
                </form>                
            </div>            
        </div>        
    </div>
    script(src="/scripts/createProjectForm.js")