extends ../../layout

block content
    <div class="container">
        <div class="col-sm-8 col-sm-offset-2 main">                        
            <div id="formregister" class="col-sm-12">
                <h1 id="titleregister">Nuevo Proyecto</h1>
                <p id="formtext">Por favor, ingrese los siguientes datos para crear su proyecto.</p>
                
                <form id="create-project-form"  class="form" >
                    <div class="form-group">
                        <label for="name">Nombre:</label>
                        <input type="text" id="name" name="name" class="form-control">
                    </div>
                    
                    <div class="form-group">
                        <label for="description">Fecha de Arranque:</label>                        
                        <input type="text" name="startDate" class="form-control" >                                 
                    </div>  

                     <div class="form-group">
                        <label for="description">Fecha de Entrega:</label>                        
                        <input type="text" name="requestDate" class="form-control"  >                                 
                    </div>  

                    <div class="form-group">
                        <label for="description">Descripcion:</label>
                        <input cols="30" rows="5" type="textarea" id="description" name="description" class="form-control"/>
                    </div>  

                    <div class="text-xs-center">
                        div(id="info")
                        <input type="submit" id="create-btn" name="create-btn"  class="btn btn-deep-purple" value="Crear"/>                        
                    </div>
                </form>                
            </div>            
        </div>        
    </div>
    script(src="/scripts/createProjectForm.js")
    script(src="https://momentjs.com/downloads/moment.min.js")