extend ../../layout

block content
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <div class="container">
        <div class="row" id="project-container">
            each project in data.projects                                
                div(id=project._id class="col-lg-4 projectscards")                    
                    <div class="card" style="width: 24rem;" >
                        <div class="card-body ">
                            <p class="card-header">#{project.name}</p>
                            div() 
                                span(style="padding: .75rem 1.25rem;") Owner:
                                |#{project.owner.fullName}
                            <p class="card-text" id="bodydescription" >#{project.description}</p>
                        </div>
                    </div>
            div(id="add-project-btn" class="col-lg-4 projectsadd")                
                <div class="card" style="width: 18rem;" >
                    <div class="card-body">
                        <span class="fas fa-plus-circle" style="font-size: 19px; color: white;"><b>Crear</b></span>
                    </div>
                </div>                
        </div>
    </div>

    <script src="/scripts/projectsBehavior.js"> </script>
