extend ../../layout

block content
    <div class="container">
        <div class="row" id="project-container">
            each project in data.projects                                
                div(id=project._id class="col-lg-4")
                    <div>
                        <div class="card cardimage" style="width: 18rem;" >
                            <div class="card-body">
                                <b class="card-text">#{project.name}</b>
                                <p>#{project.description}</p>
                            </div>
                        </div>
                    </div>                
        </div>
    </div>
    <script src="scripts/projectsBehavior.js"> </script>

