extend ../../layout

block content

    <div class="container">
        <div class="row" id="project-container">
            each project in data.projects                                
                div(id=project._id class="col-lg-4")                    
                    <div class="card cardimage pointer" style="width: 24rem;" >
                        <div class="card-body ">
                            <b class="card-text">#{project.name}</b>
                            div() 
                                span() Owner:
                                |#{project.owner.fullName}
                            <p>#{project.description}</p>
                        </div>
                    </div>
            div(id="add-project-btn" class="col-lg-4")                
                <div class="card cardimage pointer" style="width: 18rem;" >
                    <div class="card-body">
                        <span class="glyphicon glyphicon-plus"><b>Crear</b></span>
                    </div>
                </div>                
        </div>
    </div>
    
    <div class="container">
        <div class="panel panel-primary">
        </div>
    </div>

    <script src="/scripts/projectsBehavior.js"> </script>
